<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav navbar">
    <li class="nav-item">
      <a routerLink="/customers"  class="nav-link header">Customers List</a>
    </li>

    <li><a routerLink="/orders"  class="nav-link header">Orders</a></li>
    <li><a routerLink=""  class="nav-link header">Home</a></li>
  </ul>
</nav>



<div style="text-align:center">
  <br>
  <h3>
    Welcome to {{ title }}!
  </h3>
</div>
<br>
<br>

<!--<app-welcome></app-welcome>-->

<router-outlet></router-outlet>
